################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheWorld/.vs
/TheWorld/src/TheWorld/project.lock.json
/TheWorld/src/TheWorld/TheWorld.xproj.user
/TheWorld/src/TheWorld/Project_Readme.html
/TheWorld/src/TheWorld/obj
/TheWorld/src/TheWorld/bin
