################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/src/WebApplication/obj/Debug/netcoreapp1.0
