################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/src/WebApplication/obj
/WebApplication/src/WebApplication/bin
/WebApplication/.vs
/WebApplication/src/WebApplication/project.lock.json
